# Сборки и кэш Python
__pycache__
*.py[cod]
*$py.class
.pytest_cache
.mypy_cache
.ruff_cache

# Виртуальные окружения (uv создаст своё внутри образа)
.venv
venv
ENV

# Данные uv
.uv

# Логи и отчеты тестов
results

# Гит и системные файлы
.git
.github
.gitignore
.DS_Store
.vscode
.idea

# Докер файлы
Dockerfile
.dockerignore

