name: UI tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install Python and Dependencies
        run: |
          uv python install         
          uv sync --frozen          # Ставим библиотеки строго по лок-файлу
          uv run playwright install chromium --with-deps

      - name: Run UI tests with pytest and generate Allure results
        run: |
          uv run pytest -m debug

      - name: Upload Allure results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: results/allure-results

  publish-report:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: always()
    needs: [ run-tests ]

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          path: gh-pages

      - name: Download Allure results
        uses: actions/download-artifact@v4
        with:
          name: allure-results
          path: allure-results

      - name: Install Allure CLI
        run: |
          wget https://github.com/allure-framework/allure2/releases/download/2.36.0/allure-2.36.0.tgz
          tar -zxf allure-2.36.0.tgz
          sudo mv allure-2.36.0 /opt/allure
          sudo ln -s /opt/allure/bin/allure /usr/bin/allure
          allure --version
      
      - name: Generate Report
        run: |
          # Копируем историю из gh-pages для трендов, если она есть
          mkdir -p allure-results/history
          cp -r gh-pages/history/* allure-results/history/ || true
          allure generate allure-results --clean -o allure-report

      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history
